language: node_js
node_js:
  - stable
cache:
  directories:
  - node_modules
jobs:
  include:
    - stage: npm release
      node_js: stable
      script: 
        - 'echo "//registry.npmjs.org/:_authToken=$authToken" > ~/.npmrc'
        - 'echo "Deploying to npm ..."'
        - npm version patch
      deploy:
        provider: npm
        email: tfmend@gmail.com
        api_key: $authToken
        on:
          tags: true
          repo: tfmend/lomadee